
:root{
    --text:#fff;
    --bg:#1B3A4B;
    --nav: rgba(255, 255, 255, 0.075);
    --light-bg: rgba(0, 0, 0, 0.048);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: sans-serif;
    color: var(--text);
}

body{
    height: 100vh;
    overflow: hidden;
}

.wrapper{
    scroll-behavior: smooth;
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background: transparent;
    scroll-snap-type: y mandatory;
}

.wrapper section, .navDiv{
    scroll-snap-align: end;
}

#particles-js{
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: block;
    background: var(--bg);
}

.navDiv{
    height: 5rem;
    width: 100%;
    display: flex;
    overflow: hidden;
    font-size: 1.5rem;
    justify-content: space-evenly;
    background: var(--nav);
}

.navImg{
    display: flex;
    padding: .1rem;
    align-items: center;
    width: 24rem;
}

.navImg img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    border: 2px solid #aaaaaa;
    overflow: hidden;
}

.navImg .logoName{
    display: inline-block;
    width: 0%;
    height: 2rem;
    overflow: hidden;
    transition: all 1s ease;
    word-break: keep-all;
    color: var(--text);
    border-bottom: 2px solid #aaaaaa;
}

.navImg img:hover ~ .logoName{
    width: 12rem;
}

.navLinks{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    /* background: yellow; */
}

.navLinks ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.navLinks ul li{
    display: flex;
    align-items: center;
    justify-items: center;
    list-style: none;
}

.navLinks ul li a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--text);
}

.navLinksA::after{
    content: " ";
    display: block;
    height: .2rem;
    width: 0%;
    background: #aaaaaa;
    transition: all .8s ease;
}

.navLinksA:hover::after{
    width: 100%;
}

.logoDiv{
    height: 100%;
    width: 100%;
}


.landingSect{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.landingSect h1{
    font-size: 6rem;
}

.landingSect h2{
    font-size: 2.5rem;
}

.landingSect

.rhs{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lhs{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingImg{
    height: 60%;
    width: 60%;
}

.aboutSect{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-bg);
}

.Aboutlogo{
    position: relative;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    border: .5rem solid var(--text);
    overflow: hidden;
}

.Aboutlogo img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: inherit;
    width: inherit;
}

.aboutSect p{
    font-size: 2rem;
    width: 46rem;
    /* background: red; */
}

.aboutSect h1{
    font-size: 5rem;
}

.aboutSect div:nth-child(2){
    padding: 2rem;
}